<div class="container mt-3">
<h2>Edit <%= @user.name %>'s Information</h2>
<%= render 'superadmin/users/form' %>
<%= link_to 'Back', superadmin_users_path%>
</div> 

<script type="text/javascript">
  $(document).on("change", "#user_company_id", function(){
  var company = $(this).val();
  console.log(company)
  $.ajax({
    url: "/companies",
    method: "GET",  
    dataType: "json",
    data: {company_id: company},
    error: function (xhr, status, error) {
      console.error('AJAX Error: ' + status + error);
    },
    success: function (response) {
      console.log(response);
      var departments = response["departments"];
      $("#user_department_id").empty();

      $("#user_department_id").append('<option>Select Department</option>');
      for(var i=0; i< departments.length; i++){
        $("#user_department_id").append('<option value="' + departments[i]["id"] + '">' + departments[i]["name"] + '</option>');
      }
    }
  });
});
</script>